body {
	font-family: 'Noto Serif Armenian', serif;
	background: radial-gradient(circle, rgba(163,255,220,1) 0%, rgba(54,135,111,1) 89%);
	line-height: 1.5;
}

ul {
	list-style: none;
}

.home .b {
	color: #bababa;
	text-decoration: none;
}

.home .b:hover {
	background: radial-gradient(circle, rgba(240,255,137,1) 0%, rgba(208,232,38,1) 89%);
	border-radius: 5px;
}

h1 {
	font-weight: 300;
	line-height: 1.2;
	padding: 10px 20px;
	color: #bababa;
}

/*Navbar*/
.navbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: radial-gradient(circle, rgba(40,111,84,1) 0%, rgba(10,36,28,1) 89%);
	opacity: 0.7;
	width: 100%;
	padding: 5px 15px;
	position: fixed;
	top: 8px;
	z-index: 2;
}

.navbar a {
	padding: 10px 20px;
}

.navbar li {
	padding: 10px 20px;
}

.navbar ul {
	display: flex;
}

.logo {
	color: #bababa;
	text-decoration: none;
}

.logo:hover {
	background: radial-gradient(circle, rgba(240,255,137,1) 0%, rgba(208,232,38,1) 89%);
	border-radius: 5px;
}

.x {
	color: #fff;
}

.hero {
	background: url(dproc.jpg) no-repeat center center/cover;
	height: 140vh;
	position: relative;
	color: #fff;
}

.hero .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	padding: 0 20px;
}

.hero .content h1 {
	font-size: 4rem;
	font-weight: 100;
}

.hero .content p {
	font-size: 23px;
	max-width: 600px;
	margin: 20px 0 30px;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
}

.content h1, a {
	z-index: 1;
}

.icons {
	padding: 30px;
}

.icons i {
	background: green;
	color: #fff;
	padding: 1rem;
	border-radius: 50%;
}

.mission {
	color: green;
	background-color: #64d993;
}

.section-header {
	color: green;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.section-padding {
	padding: 20px 20px 40px;
}

.section-header h2 {
	font-size: 40px;
	margin: 20px 0;
}

/* flex grid */

.flex-grid .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 6px;
}

.daser img {
	width: 100%;
	height: 200px;
}

.daser img:hover {
	opacity: 0.5;
}

.teachers {
	border-radius: 50%;
	height: 300px; 
}

.team img {
	width: 100%;
	height: 200px;
}

.team img:hover {
	opacity: 0.5;
}


/*callback-form*/
.callback-form {
	width: 100%;
	padding: 20px  0;
}

.callback-form label {
	display: block;
	margin-bottom: 5px;
}

.callback-form .form-control {
	margin-bottom: 10px;
}

.callback-form input {
	width: 100%;
	padding: 4px;
	height: 40px;
	border: 1px solid grey;
}

.callback-form input:focus {
	border: 1px solid pink;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100px;
}

.footer a {
	color: #fff;
}

.footer a:hover {
	color: #64d993;
}

.footer .social>* {
	padding: 20px;
}

.teacher {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

.us {
	color: green;
}

/*flip-card*/

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin-left: 30%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: green;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h2 {
	margin-top: 120px;
}

.flip-card-back p {
	margin-top: 10px;
}

@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		height: 120px;
	}

	.flex-items {
		flex-direction: column;
	}

	.flex-columns .column, .flex-grid .column {
		flex: 100%;
		max-width: 100%;
	}

	.team img {
		width: 96%;
	}
}